PORT=
NODE_ENV=
CORS_ORIGINS=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SYNC=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ISSUER=
JWT_AUDIENCE=

REDIS_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=

RESEND_API_KEY=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_CLOUDFRONT_URL=
AWS_CLOUDWATCH_LOG_GROUP=
AWS_CLOUDWATCH_LOG_RETENTION_DAYS=